.game_page {
  background-color: rgba(245, 222, 179, 0.774);
}

.flex {
  margin-top: 8%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.card {
  width: 100%;
  height: 380px;
  cursor: pointer;
}